<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to text analyzer.Please enter a text.</h1>
<form action="/analyze" method="get">
    <textarea name="text" spellcheck="false" style="margin: 18px; width: 1271px; height: 188px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuation<br>
    <input type="checkbox" name="capitalize">UPPERCASE<br>
    <input type="checkbox" name="newlineremove">Remove new line<br>
    <input type="checkbox" name="spaceremove">Remove extra space<br>
    <input type="checkbox" name="charcount">Count characters<br>
    <button type="submit"> Analyse Text</button>
</form>
</body>
</html>